<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix border bg-light"
      *ngFor="let recipe of recipes"
    >
      <div class="float-start">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="float-end">
        <img
          [src]="recipe.imagePath"
          alt=""
          class="img-responsive"
          style="max-height: 200px; max-width: auto"
        />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
